// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------


/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 100%; /* 1 */
  margin-left: auto; /* 2 */
  margin-right: auto; /* 2 */
  padding-left: 15px; /* 3 */
  padding-right: 15px; /* 3 */
  width: 100%; /* 1 */
  @include respond-to('small') {
    max-width: 546px;
  }
  @include respond-to('medium') {
    max-width: 715px;
  }
  @include respond-to('large') {
    max-width: 1230px;
  }
  &--inside {
    max-width: 250px;
    padding-left: 0;
    padding-right: 0;
  }
}

.panel {
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 50px 50px 0 0;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.09);
  padding: 30px 0;
  margin-top: -140px;
}
