/**
 * Basic typography style for copy text
 */
body {
  font-size: 12px;
  line-height: 15px;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  color: $text-color;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  color: $text-color;
  margin: 0;
}

h1 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 11px;
  margin-top: 15px;
  font-weight: 700;
}

h2 {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 21px;
}

h3 {
  font-size: 24px;
  line-height: 28px;
  @include respond-to('medium') {
    font-size: 32px;
    line-height: 38px;
  }
}

h4 {
  font-size: 14px;
  line-height: 17px;
}

h5 {
  font-size: 15px;
  line-height: 16px;
  @include respond-to('medium') {
    font-size: 16px;
    line-height: 28px;
  }
}

.btn {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 18px;
}